body
{
	margin: 0;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

h1
{
	margin-top: 0;
}

div.item
{
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 40%;
    margin: 0 0 50px 0;
}

.item-img
{
    width: 500px;
    height: 200px;
    background-color: grey;
}
.caption
{
    /* Make the caption a block so it occupies its own line. */
    display: block;
    margin: 20px;
    text-align: left;
}

.top-container
{
	background-color: #fefefe;
	width: 100%;
}

.middle-container
{
	background-color: #fefefe;
	width: 100%;
}

.bottom-container
{
	color: #fff;
	background-color: #4f321c;
	background-image: url("../images/footer-img.jpg");
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 0 30px;
	height: 100px;
	margin: 20px 0 0 0;
	text-align: left;
	width: 100%;
}

.top
{
	display: inline-block;
}

.top-pic
{
	width: 100%;
	margin: 150px 0 0 0;
}

.about-text
{
	font-family: 'Abel', sans-serif;
	font-size: 1.2rem;
	margin: 20px auto;
	text-align: left; 
	width: 70%;
}

.about-us-header
{
	background-color: #cccccc;
	background-image: url("../images/about-header.jpg");
	color: #fff;
	margin-bottom: 20px;
	padding: 10px 0 0 50px;
	height: 130px;
	text-align: left;
	width: 100%;
}

.about-us-header-text
{
	font-size: 3rem;
	font-family: 'Roboto', sans-serif;
}

.footer-text
{
	display: inline-block;
	text-align: left;
}

.footer-link
{
	float: right;
	height: 30px;
	width: 30px;
	padding: 20px 20px;
}

#top-img
{
	width: 100px;
	height: 100px;
}

#top-text
{
	top: 30px;
	font-size: 3.5rem;
	margin: 30px auto 0 auto;
}